*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Figtree";
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --clr-yellow: hsl(47, 88%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray500: hsl(0, 0%, 42%);
    --clr-Gray950: hsl(0, 0%, 7%);

    --fs-body: 14px;
    --fs-body-mobil: 16px;
}

html,
body {
    font-size: var(--fs-body);
    font-family: "Figtree", sans-serif;
    color: var(--clr-Gray950);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr-yellow);
}

main {
    background: var(--clr-white);
    border-radius: 20px;
    box-shadow: 7px 7px;
}

.card {
    width: 23.36rem;
    height: 500px;
}

.card-image {
    width: 280px;
    margin: 1.65rem 1.65rem 0 1.65rem;
    border-radius: 10px;
}

.card-body {
    margin: 0 1.65rem;
}

.card-body__btn {
    margin: 1.5rem 0 1rem;
    padding-right: .8rem;
    padding-left: .8rem;
    display: block;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: var(--clr-yellow);
    font-size: .9rem;
    font-weight: 800;
}

.card-body__published_date {
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-Gray950);
}

.card-body__title {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-body__description {
    margin-bottom: 1.6rem;
    line-height: 1.6rem;
}

.card-autor {
    display: flex;
    margin: 0 1.5rem 0 1.5rem;
    align-items: center;
}

.card-autor__img {
    width: 32px;
    margin-inline-end: 1.5rem;
}

.card-autor__name {
    color: var(--clr-Gray950);
    font-weight: 800;
}


/* Desktop */
@media (min-width: 32.29rem) {

    html,
    body {
        font-size: var(--fs-body-mobil);
    }

    .card {
        width: 24rem;
        height: 522px;
    }

    .card-image {
        width: 336px;
        height: 200px;
        margin: 1.5rem 1.5rem 0 1.5rem;
    }

    .card-body {
        margin: 0 1.5rem;
    }

    .card-body__btn {
        width: 100px;
        height: 33px;
    }

    .card-body__published_date {
        font-size: 0.925rem;
    }

    .card-body__title {
        font-weight: 800;
        margin: 1rem 0;
    }

    .card-body__description {
        font-weight: 500;
        color: var(--clr-gray500);
        margin-bottom: 1.2rem;
        line-height: 1.5rem;
    }

    .card-autor__img {
        margin-inline-end: 1rem;
    }

}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */